asgiref==3.9.1
Brotli==1.1.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
Django==5.2.4
duckduckgo-search==0.9
Faker==37.4.2
git-filter-repo==2.47.0
gunicorn==23.0.0
idna==3.10
lxml==6.0.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.3.0
primp==0.15.0
PyMySQL==1.1.1
python-dotenv==1.1.1
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
